<nav class="navbar"
  style="background: white; justify-content: space-between; padding: 1rem 2rem; border-bottom: 1px solid #e2e8f0; display: flex; gap: 2rem; box-shadow: 0 1px 3px rgba(0,0,0,0.1); margin-bottom: 20px;">
  <div style="display: flex; gap: 10px;">
    <a href="/" style="text-decoration: none; color: #0f172a; font-weight: 600; font-size: 1.1rem;">Dashboard</a>
    <a href="/kategori" style="text-decoration: none; color: #475569; font-weight: 500;">Kategori</a>
    <a href="/produk" style="text-decoration: none; color: #475569; font-weight: 500;">Produk</a>
  </div>
  <div>
    <a href="/logout" style="text-decoration: none; color: #e40a0a; font-weight: 500;">Logout</a>
  </div>
</nav>